body{
    background-color:#333;
}

#root {
    display: flex;
    justify-content: center;
    width: 95vw;
    height: 95vw;
}

#wrapperAll {
    max-width: 1200px;
    width: 100vw;
    min-width: 300px;
    max-height: 1000px;
    height: 100vw;
    min-height: 500px;
    background-color: hsla(0,50%,100%,0.5);
    border: 1px solid lightgray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headWrapper {
    font-size: 30px;
    margin-bottom: 5px;
    width: 80%;
    font-weight: bold;
    display: flex;
    align-items:center;
    justify-content: start;
}

#yearAndMonth{
    margin: 0 20px;
}

button {
    border-radius: 25px;
    padding: 0 10px;
    border: 1px solid lightgray;
    margin: 0 2px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}

#tableWrapper {
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.table {
    border-collapse: collapse;
}

.thead{
    border-top:  1px solid lightgray;
    border-bottom:  1px solid lightgray;
}

.tableHead { 
    width: 10%;
    height: 30px;
    text-align: left;
    padding: 0 5px;
    font-size: 8px;
}

.tableData {
    font-size: 10px;
    min-width: 20px;
    width: 10%;
    height: 50px;
    padding: 2px;
    border-left: 1px solid lightgray;
    border-bottom:  1px solid lightgray;
    vertical-align: top;
}

.Sun{
    color: red;
    border-left: none;  
}